


/* above is the media query part*/
body{
    background: linear-gradient(to right,blue,#065535);
    
  }
  .majorContainer{
    height: 2500px;
    width:1000px;
    background-color: white;
  }
  .topLine{
    height:300px;
    width: 800px;
    background-color: lightgray;
    border:solid black;
    margin-left:100px;
    align-items: center;
  }
  .pic1{
    margin-left:320px ;
    height: 100px;
    width: 100px;
  }
  .textDiv{
    margin-left: 300px;
    
  }
  .moreText{
    font-family: arial;
    color:black;
    font-size: 100px;
    
  }
  .LowerTextHere{
    margin-right: 500px;
  }
.infoDiv{
    font-family: tahoma;
    color:green
}
.bonusQuestion{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: black;
}
.lowerMajorContainer{
    display: flex;
}
.playerOneScoreCard{
    height: 400px;
    width:400px;
    background-color: beige;

}
.playerTwoScoreCard{
    margin-left: 250px;
    height: 400px;
    width:400px;
    background-color: grey;

}
.winnerDiv{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: dashed red;
    
}